<h1>{{ title }}</h1>
<section class="container">
  <section class="game-container" (click)="onSection()" id="game-container">
    <section
      class="image-card"
      (click)="onClick(game)"
      *ngFor="let game of box"
    >
      <div class="box-found" [hidden]="!game.isFound"></div>
      <div [hidden]="game.isFound">
        <img src="{{ game.path }}" [hidden]="!game.isVisible" />
      </div>
    </section>
  </section>
  <section class="score-card">
    <div class="card">
      <p>{{ cardStat["moves"] }}</p>
      <p>No of Moves</p>
    </div>
    <div class="card">
      <p>{{ cardStat["misses"] }}</p>
      <p>No of Misses</p>
    </div>
    <div class="card">
      <p>{{ cardStat["roundsPlayed"] }}</p>
      <p>Rounds Played</p>
    </div>
    <div class="card">
      <p>{{ acc1 }}</p>
      <p>Accuracy</p>
    </div>
  </section>
</section>
<section class="refresh">
  <button type="button" (click)="onRestart()">Restart</button
  ><button type="button" (click)="navigate()">Home</button>
</section>
