@import "../app.component.scss";

.container {
  padding: 10px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  width: 100%;
  .game-container {
    padding: 10px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
  }
  .score-card {
    padding: 10px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 400px;

    .card {
      margin-top: 10px;
      text-align: center;

      p {
        padding: 10px;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
    }
  }
}

.refresh {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;

  button {
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
  }
}
